In [1]:
#‡§ä‡§Å ‡§ó‡§£‡•á‡§∂‡§æ‡§Ø ‡§®‡§Æ‡§Éüôè
# Mutable DS like sets,list,Dict..
#First let's Talk about sets:
# A set is an unordered collection of items.
# Sets can also be used to perform mathematical set operations like union,intersection,symmetric difference,etc.
# Characterstics:
# Unordered
# Mutable
# No Duplicates
# Can‚Äôt  contain  mutable  data  types

In [2]:
# empty
s = set()
print(s)
print(type(s))

s={}
print(s)
print(type(s))

# 1D and 2D
s1 = {1,2,3}
print(s1)

# s2 = {1,2,3,{4,5}}  unhashable type: 'set'
# print(s2)

# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)} 
print(s3)

# using type conversion
s4 = set([1,2,3])
print(s4)

# duplicates removed
s5 = {1,1,2,2,3,3}
print(s5)

# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

set()
<class 'set'>
{}
<class 'dict'>
{1, 2, 3}
{1, 'hello', 4.5, (1, 2, 3)}
{1, 2, 3}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [3]:
print({1,2,3}=={3,1,2})

True

In [4]:
#Accessing 
s1 = {1,2,3,4} 
s1[0] #not possible

s1 = {1,2,3,4} 
s1[-1]

TypeError: 'set' object is not subscriptable

In [5]:
#Editing
s1= {1,2,3,4} 
s1[0] = 100 #editing also not possible

TypeError: 'set' object does not support item assignment

In [6]:
#Adding 
s={1,2,3,4}
s.add(5) 
print(s)

s= {1,2,3,4}
s.update([5,6,7]) 
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [7]:
#Deleting del,discard,remove,pop,clear
#del
s = {1,2,3,4,5} 
print(s)
del s
print(s) #it is delete

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [8]:
#discard
print('Discard')
s = {1,2,3,4,5} 
print(s)
s.discard(3) 
print(s)
s.discard(50)
print(s)

#remove
print('remove')
s = {1,2,3,4,5} 
print(s)
s.remove(5) 
print(s)
s.remove(50) #it will give error
print(s)

Discard
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}
remove
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

KeyError: 50

In [9]:
#Pop
print('POP')
s = {7,2,3,4,5} 
print(s)
s.pop() #remove upper element
print(s)

POP
{2, 3, 4, 5, 7}
{3, 4, 5, 7}

In [10]:
#clear
s = {7,2,3,4,5} 
print(s)
s.clear()
print(s)

{2, 3, 4, 5, 7}
set()

In [11]:
#set opreations
# union(|)
# intersection(&) 
# Difference(-) 
# Symmetric Difference(^) 
# Membership  
# Test Iteration

In [12]:
s1 = {1,2,3,4,5} 
s2 = {4,5,6,7,8}
# union(|)
print("Union(|)=>",s1 | s2)
# intersection(&)
print("Intersection(&)=>",s1 & s2)
# Difference(-) 
print("s1-s2 Difference(-)=>",s1 - s2) 
print("s2-s1 Difference(-)=>",s2 - s1)
# Symmetric Difference(^)
print("Symmetric Difference(^)=>",s1 ^ s2)
# Membership  
print(1 not in s1)
# Test Iteration
for i in s1: 
    print(i)

Union(|)=> {1, 2, 3, 4, 5, 6, 7, 8}
Intersection(&)=> {4, 5}
s1-s2 Difference(-)=> {1, 2, 3}
s2-s1 Difference(-)=> {8, 6, 7}
Symmetric Difference(^)=> {1, 2, 3, 6, 7, 8}
False
1
2
3
4
5

In [13]:
#Set functions like len,sum,min,max,sorted
s = {1,2,3,4,5,6,7,8,9,10}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

10
55
1
10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
#other functions
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.union(s2)
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [15]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [16]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.difference(s2))
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [17]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2) 
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [18]:
s1 = {1,2,3,4}
s2 = {7,8,5,6}
s1.isdisjoint(s2)

True

In [19]:
s1 = {1,2,3,4}
s2 = {1,8,5,6}
s1.isdisjoint(s2) #1 is same

False

In [20]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}
print(s1.issuperset(s2))
print(s2.issubset(s1))

True
True

In [21]:
s1 = {1,2,3} 
s2 = s1.copy()
print(s1) 
print(s2)

{1, 2, 3}
{1, 2, 3}

In [22]:
#Frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
print(fs1 | fs2)

fs = frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({1, 2, 3, 4, 5})
frozenset({frozenset({3, 4}), 1, 2})

In [23]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [24]:
#=====================================>lists<=====================================================
l = [1,2,3]
print(id(l)) 
print(id(l[0])) 
print(id(l[1])) 
print(id(l[2])) 
print(id(1)) 
print(id(2)) 
print(id(3))

1997543802112
140708211102504
140708211102536
140708211102568
140708211102504
140708211102536
140708211102568

In [25]:
#Characterstics of a list
# Ordered
# Changeble/Mutable
# Hetrogeneous
# Can have  duplicates
# are dynamic
# can be nested
# items can  be accessed
# can contain any kind of objects in python

In [26]:
#ordered
l=[1,2,3] 
l1=[3,2,1] 
print(l==l1)

#changable/mutable
l=[1,2,3]
l[0]=5
print(l)

#Hetrogeneous
l=[1,1.5,"rohit",(9,0),{1,0},{"a":1,"b":3}] 
print(l)

#duplicate
l=[1,1,1,2,2,3,3,4,4,5,5,6] #allowed
print(l)

#dynamic
l=[1,2,3]
l.append(5)
l.append((1,2))  #add in last
print(l)

#can be nested
l=[1,2,3,[1,2]]
print(l)

#items can be accessed 
l=[1,2,3,[1,2]] 
print(l[0])
print(l[3])

False
[5, 2, 3]
[1, 1.5, 'rohit', (9, 0), {0, 1}, {'a': 1, 'b': 3}]
[1, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6]
[1, 2, 3, 5, (1, 2)]
[1, 2, 3, [1, 2]]
1
[1, 2]

In [27]:
#Creating
l=[] 
print(l)

[]

In [28]:
l1=list((1,2,3,4))
print(l1)

l1=list({1,2,3})
print(l1)

[1, 2, 3, 4]
[1, 2, 3]

In [29]:
#1D
l=[1,2,3]
l1=["a","b","c"]
l2=[(1,2),(3,4),(5,6)]
l3=[1,'a',(1,2),{1,2}]
print(l,l1,l2,l3)

[1, 2, 3] ['a', 'b', 'c'] [(1, 2), (3, 4), (5, 6)] [1, 'a', (1, 2), {1, 2}]

In [30]:
#2D
l=[[1,2],[3,4]] 
print(l)

[[1, 2], [3, 4]]

In [31]:
#3D
l=[[[1,2],[3,4]],[[5,6],[7,8]]] 
print(l)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [32]:
l=list("hello")
print(l)

['h', 'e', 'l', 'l', 'o']

In [33]:
#Accessing
l=[1,2,3,4] 
print(l[0]) 
print(l[-1]) #not possible
print(l[4])

1
4

IndexError: list index out of range

In [34]:
l=[1,2,3,[1,2],"abcd"] 
print(l[3][-1]) 
print(l[3][0])
print(l[4][:2])

2
1
ab

In [35]:
#slicing
l=[1,2,3,4]
print(l[::2])
print(l[1:3])
print(l[::-1])
print(l[-1:-4:-2])
l=[1,2,3,[1,2],"abcd"] 
print(l[1:4])
print(l[2:5]) 
print(l[2:5][2][1:2])
print(l[-1:-3:-1][-1][-2])
print(l[::-1])

[1, 3]
[2, 3]
[4, 3, 2, 1]
[4, 2]
[2, 3, [1, 2]]
[3, [1, 2], 'abcd']
b
1
['abcd', [1, 2], 3, 2, 1]

In [36]:
#Adding
# append
l= [1,2,3,4,5]
l.append(True)
print(l)

l.append([1,2,3])
print(l)

l.append("ABC")
print(l)

l.append((1,2))
print(l)

l.append(1,2)#you can use only one argument

[1, 2, 3, 4, 5, True]
[1, 2, 3, 4, 5, True, [1, 2, 3]]
[1, 2, 3, 4, 5, True, [1, 2, 3], 'ABC']
[1, 2, 3, 4, 5, True, [1, 2, 3], 'ABC', (1, 2)]

TypeError: list.append() takes exactly one argument (2 given)

In [37]:
#extend
l = [1,2,3,4,5]
l.extend([6,7,8])
print(l)

l.extend("hello")
print(l)

l.extend(range(10))
print(l)

l.extend((1,2,3))
print(l)

l.extend([6,7,[1,8,"a"]])
print(l)

l.extend(1,2,3) #only one
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 'h', 'e', 'l', 'l', 'o']
[1, 2, 3, 4, 5, 6, 7, 8, 'h', 'e', 'l', 'l', 'o', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 'h', 'e', 'l', 'l', 'o', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 'h', 'e', 'l', 'l', 'o', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 6, 7, [1, 8, 'a']]

TypeError: list.extend() takes exactly one argument (3 given)

In [38]:
#insert
l = [1,2,3,4,5]
l.insert(1,100)
print(l)

l.insert(1,[1,2])
print(l)

l.insert(1,{5:4,7:5})
print(l)

l.insert(2,"hello")
print(l)

[1, 100, 2, 3, 4, 5]
[1, [1, 2], 100, 2, 3, 4, 5]
[1, {5: 4, 7: 5}, [1, 2], 100, 2, 3, 4, 5]
[1, {5: 4, 7: 5}, 'hello', [1, 2], 100, 2, 3, 4, 5]

In [39]:
# Editing 
l = [1,2,3,4,5]
l[-1] = 500
l[1:4] = [200,300,400]
print(l)

[1, 200, 300, 400, 500]

In [40]:
# del
l = [1,2,3,4,5]

# indexing
del l[-1] #5

# slicing
del l[1:3]  #2,3
print(l)

[1, 4]

In [41]:
# remove 
l = [1,2,3,4,5,2] 
l.remove(2) #remove first 2 
print(l)

[1, 3, 4, 5, 2]

In [42]:
#pop
l = [1,2,3,4,5] 
l.pop()
print(l)
l.pop(2)
print(l)
l.pop(2)
print(l)

#clear
l.clear()
print(l)

[1, 2, 3, 4]
[1, 2, 4]
[1, 2]
[]

In [43]:
#Operations

# Arithmetic (+ ,*)
l1 = [1,2,3,4] 
l2 = [5,6,7,8]
print(l1+l2)
print(l1*3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [44]:
#membership
l1 = [1,2,3,4,5] 
l2 = [1,2,3,4,[5,6]]
print(5 not in l1) 
print([5,6] in l2) 
print(5 not in l2)

False
True
True

In [45]:
l1 = [1,2,3,4,5] 
for i in l1:
    print(i)

1
2
3
4
5

In [46]:
l1 = [1,2,3,4,5] 
for i in l1:
    print(i)

1
2
3
4
5

In [47]:
#list  function
# len min max sum sort sorted count index reverse sort 
l = [2,1,5,7,0]
print(len(l))

l=[1,2,3,4,5]
print(max(l))

l=[[1,2],[3,4],[5,6]] 
print(max(l))

l=["abv","k","k"]
print(max(l))

l=[1,2,3,4,5]
print(min(l))

l=["abv","k","k"]
print(min(l))

l=[1,2,3] 
print(sum(l))

l=[1,5,3,4,5,7,2,3,4]
l.sort()
print(l)

l=[1,5,3,4,5,7,2,3,4]
print(sorted(l,reverse=True))

l=[[1,2],[5,4],[3,6]] 
l.sort()
print(l)

l=[1,2,1,"a",(1,2),(3,4),(1,2),"a"]
print(l.count(1)) 
print(l.count('a'))
print(l.count((1,2)))

l = [1,2,1,3,4,1,5]
print(l.index(1))

l = [1,2,1,3,4,1,(1,5)] 
print(l.index((1,5)))

l = [2,1,5,7,0]
l.reverse()
print(l)

l = [2,1,5,7,0] 
print(l)
print(id(l))
l1 = l.copy() 
print(l1)
print(id(l1))

5
5
[5, 6]
k
1
abv
6
[1, 2, 3, 3, 4, 4, 5, 5, 7]
[7, 5, 5, 4, 4, 3, 3, 2, 1]
[[1, 2], [3, 6], [5, 4]]
2
2
2
0
6
[0, 7, 5, 1, 2]
[2, 1, 5, 7, 0]
1997543421376
[2, 1, 5, 7, 0]
1997543414144

In [48]:
print( list(reversed((6, 1, 3, 9))))
print(list(reversed("hello")))
print(tuple(reversed([44, 11, -90, 55, 3])))
print( tuple(reversed((6, 1, 3, 9))))

[9, 3, 1, 6]
['o', 'l', 'l', 'e', 'h']
(3, 55, -90, 11, 44)
(9, 3, 1, 6)

In [49]:
# Python eval(): for eny type of inputs
ip=(eval(input())) 
print(type(ip))

 25

<class 'int'>

In [51]:
#============================================>Dictionaries<=============================================
d = {}
d

{}

In [52]:
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' } 
print(d1)

d2 = {(1,2,3):1,'hello':'world'} 
print(d2)

{'name': 'nitish', 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}

In [53]:
d = dict([('name','nitish'),('age',32),(3,3)])
print(d)

{'name': 'nitish', 'age': 32, 3: 3}

In [54]:
#Accessing
dict = {'name': 'Jack', 'age': 26}
print([])

[]

In [55]:
dict = {'name': 'Jack', 'age': 26}
dict['age']

26

In [56]:
s = {'name':'nitish','college':'bit','sem':4,'subjects':{'dsa':50,'maths':67,'english':34}}
s['subjects']['ds'] = 75
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

In [57]:
#pop
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
d.pop('age')
print(d)
d.pop(3)
print(d)
print('gender' in d)
print('jay' in d)

{'name': 'nitish', 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'gender': 'male', 'weight': 72}
True
False

In [58]:
#Dictionary function
d = {'name':'nitish','gender':'male','age':33} 
print(len(d))

d = {'name':'nitish','gender':'male','age':33} 
print(sorted(d))
print(sorted(d,reverse=True))
print(max(d))
print(min(d))

for i in d.keys():
    print(i)
for i in d.values():
    print(i)
for i,j in d.items():
    print(i,j)

3
['age', 'gender', 'name']
['name', 'gender', 'age']
name
age
name
gender
age
nitish
male
33
name nitish
gender male
age 33

In [59]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [60]:
d = {'name':'nitish','gender':'male','age':33}
d.setdefault("age",55)
print(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

In [61]:
d = {'name':'nitish','gender':'male','age':33}
d.setdefault("year",55)
print(d)

{'name': 'nitish', 'gender': 'male', 'age': 33, 'year': 55}

In [62]:
#dict.fromkeys()
x = ('key1', 'key2', 'key3')
y=0
thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [63]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [64]:
#===========================================>lambda<==================================================
# Benefits  of  using  a  Function
# ‚Ä¢    Code  Modularity
# ‚Ä¢    Code  Readibility
# ‚Ä¢    Code  Reusability
a = lambda x,y:x+y 
print(a(5,2))

a=lambda x:'even' if x%2==0 else "odd" 
print(a(4))

(lambda a,b:a*b)(5,7)

7
even

35

In [65]:
product=lambda x,y,z:x+(y*z) 
print(product(y=52, x=10, z=2)) 
print(product(4,2,3))

114
10

In [66]:
add=lambda x,y=15,z=24:x+y+z 
print(add(1))
print(add(1,2)) 
print(add(y=15,z=20,x=5)) 
print(add(2,5,7))

40
27
40
14

In [67]:
list1=[10,40,56,27,13,15,70] 
divide=list(filter(lambda x: (x%4==0),list1)) 
print(divide)

[40, 56]

In [68]:
L = [3,4,5,6,7]
list(filter(lambda x:x>5,L))

[6, 7]

In [69]:
fruits = ['apple','guava','cherry','aBC','ABC'] 
list(filter(lambda x:x.startswith('a'),fruits))

['apple', 'aBC']

In [70]:
list2=[10,40,56,27,13,15,70] 
double=list(map(lambda x:x*2,list2)) 
print(double)

[20, 80, 112, 54, 26, 30, 140]

In [71]:
list3=[2,5,10,6,4]
cube=list(map(lambda x:x**3,list3)) 
print(cube)

[8, 125, 1000, 216, 64]

In [72]:
from functools import reduce 
list4=[2,5,10,6,4,2] 
sum=reduce(lambda x,y:x*y,list4) 
print(sum)

4800

In [73]:
def quadratic(a,b,c):
    return lambda x: a*x**2+b*x+c 
print(quadratic(2,3,5)(1))

10

In [74]:
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [75]:
#reverse=True/False   key=none
l1=[1,2,3,4,5,6] 
print(sorted(l1)) 
t1=(1,2,3,4,5,6) 
print(sorted(t1))
d1={1:'a',2:'c',3:"b"} 
print(sorted(d1.items()))
print()

d1={1:'a',2:'c',3:"b"}
print(sorted(d1.items(),key=lambda x:x[1])) 
print(d1.items())
print()

t=[(1,15),(2,11),(3,17),(4,12)]
def second(z):
    return z[1]
print(sorted(t,key=second))
print()

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[(1, 'a'), (2, 'c'), (3, 'b')]

[(1, 'a'), (3, 'b'), (2, 'c')]
dict_items([(1, 'a'), (2, 'c'), (3, 'b')])

[(2, 11), (4, 12), (1, 15), (3, 17)]