In [2]:
#à¤Šà¤ à¤—à¤£à¥‡à¤¶à¤¾à¤¯ à¤¨à¤®à¤ƒðŸ™
#=============================>Tuple()<============================
t1 = ()
print(t1)
print(type(t1))
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3]) 
print(t4)
# tuple
t5 = (1,2,3,(4,5)) 
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
<class 'tuple'>
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

In [3]:
t1=(1) 
print(type(t1))

<class 'int'>

In [4]:
#ordered 
(1,2,3)==(3,2,1)

False

In [5]:
#unchangable 
t=(1,2,3) 
t[0]=4

TypeError: 'tuple' object does not support item assignment

In [6]:
#duplicate
t=(3,1,2,1,3,2)
print(t)

(3, 1, 2, 1, 3, 2)

In [7]:
#Accessing  values  in  tuples
t = (1,2,3,4)
print(t)
print(t[0])
print(t[-1])

(1, 2, 3, 4)
1
4

In [8]:
#slicing
t = (1,2,3,4)
print(t)
print(t[0:4])
print(t[-1:-4:-1])

(1, 2, 3, 4)
(1, 2, 3, 4)
(4, 3, 2)

In [ ]:
#Updating tuples not possible 
#adding tuple is also not possible

In [10]:
# Deleting tuple elements
t=(1,2,3,4)
print(t) 
del t 
print(t)

(1, 2, 3, 4)

NameError: name 't' is not defined

In [12]:
# Operations on Tuples
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1 + t2)
print(t1*3)

# membership
print(1 in t1)

# iteration
for i in t1:
    print(i)
for i,j in enumerate(t1): 
        print(i,j)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4
0 1
1 2
2 3
3 4

In [13]:
print((1,2,3)==(1,2,3,4)) 
print((1,2,"a")==(1,2,"A"))
print((1,2,"a")>(1,2,"A")) 
print(("v",2,"a")>(1,2,"A")) #int != str

False
False
True

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
#Tuple in-built function
t=(1,2,3,4)
print(len(t))
print(max(t))
print(min(t))
t=(1,2,3,4,'a')
print(max(t))

4
4
1

TypeError: '>' not supported between instances of 'str' and 'int'

In [22]:
# tuple() methods
t=tuple(range(1,10)) 
print(t)
t=tuple([1,2,3,4]) 
print(t)
t=tuple("hello")
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4)
('h', 'e', 'l', 'l', 'o')

In [30]:
#==> Tuple  function
# sorted
# count
# index
# sum
# reversed enumerate
t=(1,5,2,8,3)
print(sorted(t))
print(sorted(t,reverse=True)) 
print(sorted(t,reverse=False))

t=(1,1,2,3,4,1,5,8) 
print(t.count(1))

t=(1,1,2,3,4,1,5,8) 
print(t.index(1))

t=(1,1,2,3,4,1,5,8) 
print(t.index(1,3,7))

t=(1,1,2,3,4,1,5,8) 
print(sum(t))

t=(1,1,2,3,4,1,5,8)
print(tuple(reversed(t)))

t=(1,1,2,3,4,1,5,8)
print(tuple(enumerate(t)))

t=(1,1,2,3,4,1,5,8)
print(tuple(enumerate(t,start=10)))

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]
[1, 2, 3, 5, 8]
3
0
5
25
(8, 5, 1, 4, 3, 2, 1, 1)
((0, 1), (1, 1), (2, 2), (3, 3), (4, 4), (5, 1), (6, 5), (7, 8))
((10, 1), (11, 1), (12, 2), (13, 3), (14, 4), (15, 1), (16, 5), (17, 8))

In [31]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))